<div class="sub-menu">
    <div class="paginator-section">
        <p-paginator
            (onPageChange)="changePage($event)" 
            [first]="currentPageIndex * rows" 
            [rows]="rows" 
            [totalRecords]="total" 
        />
        <div class="goTo-container">
            <button mat-icon-button (click)="goTo()">
                <mat-icon class="goTo-icon">arrow_forward</mat-icon>
            </button>
            <input class="goTo-input" type="number" min="1" pInputText placeholder="nº" (keyup.enter)="goTo()"  [(ngModel)]="pageInput"  />
        </div>
    </div>
    <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-search" />
        <input type="text" pInputText placeholder="Search" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" (keyup.enter)="firstCall()" />
    </p-iconField>
        
</div>
<div class="container">
    <div class="grid-container">
        <div class="grid-item" *ngFor="let character of characters" (click)="goToCharcater(character.id)">
            <img [src]="character.thumbnail.path+'.'+character.thumbnail.extension" [alt]="character.name">
            <div class="item-name-container">
                <p class="item-name">{{character.name}}</p>
            </div>
        </div>
    </div>
</div>
 