<div class="sub-menu">
    <p-paginator
        (onPageChange)="changePage($event)" 
        [first]="currentPageIndex * rows" 
        [rows]="rows" 
        [totalRecords]="total" 
         />
         <p-iconField iconPosition="left">
            <p-inputIcon styleClass="pi pi-search" />
            <input type="text" pInputText placeholder="Search" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" (keyup.enter)="firstCall()" />
        </p-iconField>
        
</div>
<div class="container">
    <div class="grid-container">
        <div class="grid-item" *ngFor="let character of characters" (click)="goToCharcater(character.id)">
            <img [src]="character.thumbnail.path+'.'+character.thumbnail.extension" [alt]="character.name">
            <div class="item-name-container">
                <p class="item-name">{{character.name}}</p>
            </div>
        </div>
    </div>
</div>
 