<div class="character">
    <h1 class="title">{{character.name}}</h1>
    <p class="description">
        {{character.description}}
        <br><br>
        <span class="character-img-footer">Date of last modification: <span class="bold">{{character.modified}}</span></span>
    </p>
    <div class="container-references">
        <div class="containeer-img">
            <img class="character-img" [src]="character.thumbnail.path + '.' +character.thumbnail.extension" alt="">
        </div>
        <div class="references">
            <div *ngIf="comics.length > 0">
                <h3>Comics</h3>
                <a class="link" *ngFor="let enlace of comics" href="">{{enlace.name}}</a>
            </div>
            <div *ngIf="series.length > 0">
                <h3>Series</h3>
                <a class="link" *ngFor="let enlace of series" href="">{{enlace.name}}</a>
            </div>
            <div *ngIf="stories.length > 0">
                <h3>Stories</h3>
                <a class="link" *ngFor="let enlace of stories" href="">{{enlace.name}}</a>
            </div>
            <div *ngIf="events.length > 0">
                <h3>Events</h3>
                <a class="link" *ngFor="let enlace of events" href="">{{enlace.name}}</a>
            </div>
        </div>
    </div>
</div>
