<div class="character" *ngIf="!error">
    <h1 class="title">{{character?.name}}</h1>
    <p class="description">
        {{character?.description}}
        <span class="character-img-footer">Date of last modification: <span class="bold">{{character?.modified}}</span></span>
    </p>
    <div class="container-references">
        <div class="containeer-img">
            <img class="character-img" [src]="character?.thumbnail.path + '.' +character?.thumbnail.extension" alt="">
        </div>
        <div class="references">
            <div *ngIf="comics.length > 0">
                <h3>Comics</h3>
                <div class="container-sub-items">
                    @for(comic of arrComics; track $index){
                      <div class="sub-items">
                        <img [src]="comic?.thumbnail.path + '.' +comic?.thumbnail.extension" alt="">
                        <p>{{comic.title}}</p>
                      </div>  
                    }
                </div>
                <!-- <a class="link" *ngFor="let enlace of comics" href="">{{enlace.name}}</a> -->
            </div>
            <div *ngIf="series.length > 0">
                <h3>Series</h3>
                <div class="container-sub-items">
                    @for(serie of arrSeries; track $index){
                      <div class="sub-items">
                        <img [src]="serie?.thumbnail.path + '.' +serie?.thumbnail.extension" alt="">
                        <p>{{serie.title}}</p>
                      </div>  
                    }
                </div>
                <!-- <a class="link" *ngFor="let enlace of series" href="">{{enlace.name}}</a> -->
            </div>
            <div *ngIf="events.length > 0">
                <h3>Events</h3>
                <div class="container-sub-items">
                    @for(event of arrEvents; track $index){
                      <div class="sub-items">
                        <img [src]="event?.thumbnail.path + '.' +event?.thumbnail.extension" alt="">
                        <p>{{event.title}}</p>
                      </div>  
                    }
                </div>
                <!-- <a class="link" *ngFor="let enlace of events" href="">{{enlace.name}}</a> -->
            </div>
            <!-- <div *ngIf="stories.length > 0">
                <h3>Stories</h3>
                <div class="container-sub-items">
                    @for(storie of arrStories; track $index){
                      <div class="sub-items">
                         <img [src]="storie?.thumbnail.path + '.' +storie?.thumbnail.extension" alt=""> 
                        <p>{{storie.title}}</p>
                      </div>  
                    }
                </div>
                 <a class="link" *ngFor="let enlace of stories" href="">{{enlace.name}}</a>
            </div>  -->
        </div>
    </div>
</div>
<div *ngIf="error" class="error">
    <h1 class="error">We have no record of the character you are trying to search for.</h1>
</div>
