<div class="sub-menu">
    <div class="paginator-section">
        <p-paginator
            (onPageChange)="changePage($event)" 
            [first]="currentPageIndex * rows" 
            [rows]="rows" 
            [totalRecords]="total" 
        />
        <div class="goTo-container">
            <button mat-icon-button class="goTo-icon" (click)="goTo()">
                <mat-icon>arrow_forward</mat-icon>
            </button>
            <input class="goTo-input" type="number" min="1" pInputText placeholder="nº" (keyup.enter)="goTo()"  [(ngModel)]="pageInput"  />
        </div>
    </div>
    <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-search" />
        <input type="text" pInputText placeholder="Search" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" (keyup.enter)="firstCall()" />
    </p-iconField>
        
</div>
<div class="container">
    <div class="grid-container" #scrollContainer>
        <div class="grid-item" *ngFor="let event of events" (click)="goToEvent(event.id)">
            <img [src]="event.thumbnail.path+'.'+event.thumbnail.extension" [alt]="event.title">
            <div class="item-name-container">
                <p class="item-name">{{event.title}}</p>
            </div>
        </div>
        @if(showScrollTop){
            <div @slideFade class="scroll-to-top animate__animated animate__slideInRight animate__faster" (click)="scrollToTop()">
                <button mat-icon-button>
                    <mat-icon>keyboard_double_arrow_up</mat-icon>
                </button>
            </div>
        }
    </div>
</div>
@if(nameSearch){
    <div class="backToAllCharacters" (click)="backToAllCharacters()">
        <p>Volver a los <br> personajes</p>
    </div>
} 
