<div class="character" *ngIf="!error">
    <h2 class="title">{{creador?.fullName}}</h2>
   <div class="container-references">
        <div class="containeer-img">
            <img class="character-img" [src]="creador?.thumbnail?.path + '.' +creador?.thumbnail?.extension" alt="">
        </div>
        <div class="references">
            @if(comics.length > 0){
                <div>
                    <h3>Series</h3>
                    @for(comic of comics; track $index){
                        <p class="link">{{comic.name}}</p>
                    }
                </div>
            }
            @if(series.length > 0){
                <div>
                    <h3>Series</h3>
                    @for(serie of series; track $index){
                        <p class="link">{{serie.name}}</p>
                    }
                </div>
            }
            @if(stories.length > 0){
                <div>
                    <h3>Stories</h3>
                    @for(storie of stories; track $index){
                        <p class="link">{{storie.name}}</p>
                    }
                </div>
            }
            @if(events.length > 0){
                <div>
                    <h3>Events</h3>
                    @for(event of events; track $index){
                        <p class="link">{{event.name}}</p>
                    }
                </div>
            }
            <div *ngIf="events.length > 0">
                <h3>Events</h3>
                <a class="link" *ngFor="let enlace of events" href="">{{enlace.name}}</a>
            </div>
        </div>  
    </div>
</div>
<div *ngIf="error" class="error">
    <h1 class="error">We have no record of the character you are trying to search for.</h1>
</div>
