<div class="container-limite">
    <p>
        ¡Atención, viajeros del Multiverso! Toda la información de esta web proviene de la todopoderosa API de Marvel, 
        Las restricciones de datos afectan a todas las realidades ¡ni el Doctor Strange podría haberlo evitado! 
        Hemos alcanzado el umbral de peticiones de la todopoderosa API de Marvel en nuestra realidad pero tranquilo,
        regresa dentro de 24 horas cuando la todopoderosa API de Marvel nos haya quitado las restricciones de datos diarias.
        ¡Nos vemos en el Multiverso viajero!
    </p>
</div>
