.goBack{
    margin-top: 13px;
    position: fixed;
    z-index: 99;
    color:#1D4ED8;
    background-color:#a9c0f5;
    margin-left:10px;
}
@media (max-width: 900px) {
    .goBack{
        margin-top: 13px;
        position: relative;
        color:#1D4ED8;
        background-color:#a9c0f5;
        margin-left:10px;
    }
}