body{
    margin: 0px;
    padding: 0px;
}
html, body { height: 100%;   overflow: hidden;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.back{
  width: 100%;
  display: flex;
  position:absolute;
  z-index: 99;
  bottom:100px;
  justify-content: center;
  align-items: center;
}
.backToAllCharacters{
  position:absolute;
  z-index: 99px;
  cursor: pointer;
  bottom: 150px;
  right:50px;
  background-color: #000000d8;
  color:white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.6);
  animation: float 10s ease infinite; 
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: #ec1d24d2;
    box-shadow: 0 0 15px 5px  #ec1d24;;
  }
  p{
    margin:0px;
    text-align: center;
  }
}
.paginator-section{
  display: flex;
  align-items: center;
}
.goTo-container{
  display: flex;
  gap: 20px;
}
button.goTo-icon{
  color:#1D4ED8;
  background-color:#a9c0f5;
}
.goTo-input{
  width: 50px;
}
.goTo-input::-webkit-inner-spin-button, 
.goTo-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@keyframes float {
  0%, 100% {
    transform: translate(0, 0); /* Posición inicial y final */
  }
  25% {
    transform: translate(10px, -10px); /* Desplaza a la derecha y arriba */
  }
  50% {
    transform: translate(0, -15px); /* Vuelve al centro y sube un poco más */
  }
  75% {
    transform: translate(-10px, -10px); /* Desplaza a la izquierda y arriba */
  }
}
.container{
    height: 100%;
}

.grid-container{
  height: calc(100% - 150px);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  /* 4 columnas por defecto */
    grid-template-rows: repeat(5, auto);    /* 5 filas, ajustadas automáticamente */
    gap: 10px;                              /* Espacio entre los elementos */
    padding: 0px;                          /* Espaciado alrededor de la cuadrícula */
    overflow-y: auto;
  }
  
  .grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    max-height: 200px; 
    position: relative;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(0.95); 
    }
  }
  
  .grid-item img { 
    overflow: hidden;
    width: 100%; 
    object-fit: cover;            
  }

  .item-name-container{
    background-color:  #d7e3ff;
    width: 100%;
    position: absolute !important;
    bottom: 0;
}

  .item-name{
    margin-top:10px !important;
    margin-left: 10px !important;
    margin-bottom: 10px !important;

  }

  .mat-mdc-paginator-page-size-value{
    display: none;
  }

  .sub-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
  }

  .p-inputtext:focus {
    outline: none;
    box-shadow: none;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid  #1067bd;
  }
  .p-inputtext{
    outline: none;
    box-shadow: none;
    border-right: none;
    border-left: none;
    border-top: none;
    border-radius: 0px;
    border-bottom: 1px solid  #d7e3ff;
  }

  .logo-marvel{
    cursor: pointer;
  }

  @media (max-width: 1200px) {
    .grid-container {
      grid-template-columns: repeat(3, 1fr);  /* 3 columnas */
    }

    /*.grid-container{
      height: calc(100% - 210px);
    }*/
  }

  @media (max-width: 900px) {
    .sub-menu{
      display: flex;
      flex-direction: column;
      padding-right: 10px;
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .container{
      display: flex;
    }

    app-header{
      height: 100%;
    }

    .grid-container{
      height: calc(100% - 130.58px);
    }
  }
  
  
  /* Para pantallas muy pequeñas (hasta 500px de ancho) */
  @media (max-width: 700px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);  
    }

  }

  @media (max-width: 600px) {
    .grid-container {
      grid-template-columns: repeat(1, 1fr);  
      height: calc(100% - 136px) !important;
    }
    .paginator-section{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }


  @media (max-width: 800px){
    /* Reducir el tamaño general del paginador */
    .p-paginator {
      font-size: 0.8rem; /* Reduce el tamaño de la fuente */
      padding: 4px;      /* Ajusta el padding para hacer el paginador más compacto */
    }
    
    /* Reducir el tamaño de los botones de navegación */
    .p-paginator .p-paginator-pages .p-paginator-page,
    .p-paginator .p-paginator-next,
    .p-paginator .p-paginator-prev {
      min-width: 24px;   /* Ancho mínimo de los botones */
      height: 24px;      /* Altura de los botones */
      padding: 2px 6px;  /* Reduce el padding interno */
      font-size: 0.8rem; /* Tamaño de texto más pequeño */
    }
    
    /* Reducir tamaño de los botones de Primera y Última página */
    .p-paginator .p-paginator-first,
    .p-paginator .p-paginator-last {
      min-width: 24px;
      height: 24px;
      padding: 2px 6px;
      font-size: 0.8rem;
    }
    
    /* Reducir los márgenes entre los elementos del paginador */
    .p-paginator-element {
      margin: 0 2px; /* Espacio más reducido entre botones */
    }

    .grid-container{
      height: calc(100% - 95px);
    }
  }
.scroll-to-top {
  position: fixed;
  bottom: 80px;
  right: 80px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(169 192 245);
  color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 15px 5px rgba(169, 192, 245, 0.6);
  transition: all 0.3s ease;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
  
.scroll-to-top:hover {
  color: rgb(169 192 245);
}
  
.scroll-to-top mat-icon {
  font-size: 24px;
  color: #3700b3;
}



  



