.character{
    padding: 20px;   
    height: 100%; 
    height: calc(100% - 80px);
    overflow-y: auto;
}
.title{
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    gap:20px;
    margin-left: 65px;

  @media (max-width: 700px) {
    font-size: 1.5rem; /* Reducir el tamaño de la fuente aún más en pantallas muy pequeñas */
    margin-left: 10px; /* Ajustar el margen izquierdo para pantallas más pequeñas */
    gap: 15px; /* Reducir el espacio entre los elementos */
    margin-left: 65px;
  }
}
.goBack{
    margin-top: 13px;
    position: fixed;
    z-index: 99;
    color:#1D4ED8;
    background-color:#a9c0f5;
}
.description{
    margin-bottom: 30px;
    margin-top: 20px;
}
.character-img{
    border-radius: 10px;
    width: 400px;
    height: 400px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    object-fit: cover;
    position: sticky;
    top:0px;
}
.container-references{
    display: flex;
    gap:20px
}
.references{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap:20px;

    .link{
        display: block !important;
        text-decoration: none;
        color:#1067bd;
    }
    .link:hover{
        color:#000000;
    }
}
.bold{
    font-weight: bold;
}
.container-img{
    position: sticky;
}

.error{
    width: 100%;
    display: flex;
    justify-content: center;

    h1{
        color:red;
        text-align: center;
        margin-top: 50px;
        padding: 50px;
        font-weight: bold;
    }
}
.title-section{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:20px;
    h3{
        margin-bottom: 0px;
        cursor: pointer;
        user-select: none;
        color:#005cbb;
        position: relative;
        display: inline-block;
        background-color:#a9c0f5;
        border-radius: 20px;
        padding: 5px;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: var(--after-width, 0%);
            height: 3px;
            border-radius: 20px;
            background-color: #005cbb;
            transition: width 0.2s ease-in-out;
        }

        &:hover::after {
            width: 100%;
        }
    }
}

.small-spinner {
    width: 30px !important;  
    height: 30px !important; 
    stroke-width: 3px !important; 
}

@media (max-width: 900px) {
    .container-references{
        display: flex;
        flex-direction: column;
        gap:20px
    }
    .character{
        overflow-y: auto; 
        overflow-x: hidden;
        height: 100%;  
        
    }
    .character-img{
        width: 100%;
        position: static;
    }
}
@media (max-width: 690px) {
    .container-sub-items {
        justify-content: center; 
    }
}

.container-sub-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); 
    gap: 20px; 
    justify-items: center; 
  
  .sub-items {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 120px; 
    text-align: center; 
    position:relative;
    flex-grow: 0;
    cursor: pointer;

    p{
        position: absolute;
        background-color:#d7e3ff;
        color:#235cbb;
        padding-right: 5px;
        padding-left: 5px;
        width: 100%;
        bottom: 0px;
        margin: 0px;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    &:hover p {
        opacity: 1;
    }

    img {
        width: 100%; 
        height: auto; 
        border-radius: 8px; 
        object-fit: cover; 
    }
  }
  
}
.container-input{
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    input{
        padding: 5px 15px 5px 15px;
        border-radius: 10px;
        background-color: #a9c0f5;
        border: none; 
        color:#005cbb;
        font: 400 1.25rem / 2.75rem Roboto, sans-serif;
        height: 40px;
        width: 100px;
        border-radius: 20px;
        box-sizing: content-box;
        &:focus{
            outline: 2px solid #005cbb;
        }
        &::placeholder{
            font-size: 12px;
        }
    }
    button{
        position: absolute;
        right: 2px;
    }
}